  <%- include("header") -%>
    <div class="page-content page-container" id="page-content">
      <div class="padding">
          <div class="row  d-flex justify-content-center">
              <div class="col-md-12">
                  <div class="card px-3">
                      <div class="card-body">
                          <h4 class="card-title">Awesome Todo list</h4>
                          <h5 class="card-title"><%=toDay%></h5>
                          <form action="/" method="POST" class="add-items d-flex">
                            <input type="text"  name="newItem" class="form-control todo-list-input" placeholder="What do you need to do today?"> 
                            <button type="submit" class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> 
                          </form>
                          <div class="list-wrapper">
                              <ul class="d-flex flex-column-reverse todo-list">     
                                 <% for (let i=0;i<newItems.length;i++){ %>
                                    <li>
                                      <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> <%=newItems[i]%> <i class="input-helper"></i></label> </div> <i class="remove fa fa-trash"></i>
                                      </li>
                                  <% } %>
                                
                                 
                                 
                                
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <%- include("footer") -%>
